.users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}


tr:hover td {
    background-color: white !important;
    color: #2196f3 !important;
}


.users .user-list-heading {
    color: #1a237e !important;
}

.users .user-list {
    display: flex;
    flex-direction: column;
    /* box-shadow: 5px 5px 2px 0 rgba(0, 0, 0, 0.505); */
    background-color: #e2e2e23a;
}

.user-list .user-container {
    display: flex;
    gap: 5px;
    padding: 5px;

    /* color:white; */

    background-color: #ffffff !important;
    color: #151c65 !important;
    transition: all .2s;

    border-bottom: 2px solid #080b29;

    p.user-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    div.user-content {
        width: 100%;

        p {
            margin: 0;
        }

        p.user-header {
            font-size: .98rem;
            font-weight: 700;
        }

        p.user-name,
        p.user-email {
            font-size: .9rem;
            font-weight: 600;
            margin-left: 1em;
            color: #151c65cc;
        }
    }


}

.user-list .user-container:hover,
.user-list .user-container:focus {
    color: #ffffff !important;
    background-color: #151c65 !important;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.425), 0 6px 20px 0 rgba(0, 0, 0, 0.397);
     div.user-content {
        p.user-name,
        p.user-email {
            color: #ffffff;
        }
     }
}


tr td,
th {
    border-radius: 0;
}



/* mat css for text field-style override */
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #151c65 !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label {
    color: #ebecff !important;
}

::ng-deep input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ebecff;
    -webkit-box-shadow: 0 1px 0 0 #4193ff;
    box-shadow: 0 1px 0 0 #4193ff;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: #ffffff !important;
    ;
    caret-color: #b9d6fd !important;
    ;
}


::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
    border-bottom-color: #4193ff !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom-color: #ffffff !important;
}