

.products {
    display: flex;
    gap: 2em;
    flex-direction: column;

}

.products .product-list-heading {
    color: rgb(3, 44, 75);
}

.products .product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.spinner {
    justify-content: center;
    background-color: rgba(214, 63, 63, 0);
    z-index: 99999;
    position: relative !important;
    opacity: 1;
    height: 150px;
}

.loading-text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 50%);
    /* color: rgb(0, 208, 0); */
}

.products .no-product-list {
    display: flex;
    flex-direction: column;
}


.form-group {
    display: flex;
    gap: 10%;
    justify-content: center;
}

@media screen and (max-width:360px) {
    .form-group {
        display: flex;
        flex-direction: column;
        gap: 10%;
        justify-content: center;
    }
}

@media screen and (max-width:1028px) {
    .products .product-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .product-item .product-content p {
        font-size: .95em;
    }

    .product-item .product-actions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        height: 15%;
        width: 100%;
        padding: 5px 0;
        border-top: 2px solid #ffffff;
    }
}

@media screen and (max-width:918px) {
    .products .product-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .form-group {
        gap: 3%
    }
}

@media screen and (max-width:620px) {


    .product-item .product-actions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        height: 15%;
        width: 100%;
        padding: 5px 0;
        border-top: 2px solid #ffffff;
    }
}

@media screen and (max-width:550px) {
    .form-group {
        display: flex;
        flex-direction: column;
        gap: 10%;
        justify-content: center;
    }

    .products .product-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .product-item .product-actions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        height: 15%;
        width: 100%;
        padding: 5px 0;
        border-top: 2px solid #ffffff;
    }
}


/* mat button */
::ng-deep .mat-mdc-extended-fab {
    height: 35px !important;
}

.btnItem {
    border-radius: 0;
}

::ng-deep .btnItem [dir=rtl] .mat-mdc-extended-fab .mdc-button__label+.mat-icon,
[dir=rtl] .mat-mdc-extended-fab .mdc-button__label+.material-icons,
.mat-mdc-extended-fab>.mat-icon,
.mat-mdc-extended-fab>.material-icons {
    margin-left: -8px;
    margin-right: 10px;
}

::ng-deep .btnItem .material-icons {
    font-size: 20px;
}

::ng-deep .mat-accent.mat-mdc-fab,
.mat-accent.mat-mdc-mini-fab {
    --mat-fab-ripple-color: rgba(255, 255, 255, 0.64) !important;
    --mat-fab-small-ripple-color: #ffffffaf !important;
}


/* add button style */
.btnAdd,.btnAdd:visited {
    height: 60px !important;
    border-radius: 0 !important;
    background-color:var(--success)!important;
    color:#ffffff
}
.btnAdd:focus {
    background-color: none !important;
    color: #ffffff !important;
}
.btnAdd:active {
    background-color: #ffffff !important;
    color: var(--success) !important;
}


/* mat icon */
/* label search */
::ng-deep .mat-mdc-form-field label .mat-icon {
    width: 1em !important;
    height: 1.1em !important;
    font-size: 1.2em !important;
}

/* item selector option */
/* material multiselect input style */
::ng-deep .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
    background-color: var(--primary-100) !important;
}

/* material multiselect input style(first active option) on focus */
::ng-deep .mat-mdc-option.mat-mdc-option-active.mdc-list-item {
    background-color: var(--primary-100) !important;
    outline: 0;
}

/* material list-item-select: active list item text color */
::ng-deep .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
    color: #0d47a1 !important;
}

/* material list-item-select: list item primary text color */
.mdc-list-item__primary-text {
    color: #0d47a1 !important;
}

/* material list items background color style */
::ng-deep.mat-mdc-option.mdc-list-item {
    align-items: center;
    background: #0d47a1 !important;
}

/* material list items container('panel') */
::ng-deep div.mat-mdc-select-panel {
    background: #0d47a1 !important;
}

::ng-deep div.mat-mdc-select-panel .mat-mdc-option:hover,
.mat-mdc-option:focus.mdc-list-item:hover {
    background-color: rgba(255, 255, 255, 0.104) !important;
}

::ng-deep .mat-primary {
    --mat-stepper-header-selected-state-icon-background-color: #039be5 !important;
    --mat-stepper-header-selected-state-icon-foreground-color: #0d47a1 !important;
    --mat-stepper-header-edit-state-icon-background-color: #039be5 !important;
    --mat-stepper-header-edit-state-icon-foreground-color: #0d47a1 !important;
}

@media screen and (max-width:600px) {
    ::ng-deep .mat-mdc-text-field-wrapper {
        height: auto !important;
        flex: auto;
        will-change: auto;
    }
}

/*material form field: select arrow */
::ng-deep .mat-mdc-form-field.mat-focused .mat-mdc-select-arrow {
    color: var(--primary-100) !important;
}

/* border line style of text-field selector in paginator: focused */
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mat-mdc-notch-piece {
    /* border-color:#039be5!important; */
    /* border-color:#03e529!important; */
    border-color: var(--primary-100) !important;
}

/*outline border line style of text-field selector in paginator */
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mat-mdc-notch-piece {
    border-color: rgb(222, 222, 222) !important;
    border-width: 2px !important;
}



::ng-deep button:focus {
    outline: none;
    background-color: #045ccf !important;
}

/* mat css for text field-style override */
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: var(--primary-300) !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label {
    color: var(--primary-800) !important;
    font-weight: 600 !important;
}


::ng-deep input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid var(--primary-100) !important;
    -webkit-box-shadow: 0 1px 0 0 #4193ff !important;
    box-shadow: 0 1px 0 0 #4193ff !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: var(--primary-50)!important;
    caret-color: var(--primary-50)!important;
}


::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
    border-bottom-color: var(--primary-600) !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom-color: #ffffff00 !important;
}

/* css styles for input selector */
::ng-deep .mat-mdc-select:focus {
    border-bottom: 1px solid #4193ff !important;
}


::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--primary-800) !important;
}

input:placeholder-shown{
        color: var(--primary-800) !important;
}

@media screen and (max-width:650px) {

    ::ng-deep .mat-mdc-paginator-range-actions {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 5px 0
    }

    ::ng-deep .mat-mdc-paginator-page-size {
        display: flex;
        align-items: baseline;
        justify-content: center;
        margin-right: 8px;
        padding: 5px 0;
        width: 100%;
    }

    ::ng-deep .mat-mdc-paginator-range-label {
        margin: 0 8px 0 9px !important;
    }



    ::ng-deep .mat-mdc-paginator-container {
        justify-content: center !important;
        padding: 5px 8px !important;
        gap: 10px;
        width: 100% !important;

    }
}